
.vs/WindowsFormsApp1/v17/.suo
.vs/WindowsFormsApp1/v17/.suo
WindowsFormsApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/WindowsFormsApp1/v17/.suo
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.CoreCompileInputs.cache
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.FileListAbsolute.txt
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.GenerateResource.cache
